

<div style="background-image : url('assets/images/me.jpg');" class="row second-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1 class="display-1">Who am I ?</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="content">
          Hello, My name is Lal Rishav. I am a 21 yr old Software Engineer, graduated from Birla Institute Of Technology
          Mesra.
          Currently i am employed at Infosys Ltd Hyderabad as a Specialist Programer. I am a devops enthusiast and have
          good knowledge of javascript, python, php, docker, aws, Java, Angular, MySQL, MongoDB and many more other
          cutting edge technologies. I am an enthusiast pc gamer and play games like Counter strinke, Overwatch and many
          other single and multiplayers, Apart from all these i also like physical games like cricket, badminton and
          table tennis. Well i dont have any art like singing, dancing, musical instrument but very much keen to learn
          guitar.
          I have total for 1 years of exprience in my corporate life and worked on many projects like HubPort,
          BitChatter and many more. I have also 2+ years of freelancing and worked for companies like Cymatic India and
          more. If you want to hire me for any freelancing project you can contact me here.
        </div>
      </div>
    </div>
  </div>



</div>

<div style="background-image : url('assets/images/project6.jpg');" class="row third-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1 class="display-1">
            My Projects
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="project-card" (mouseenter)='showDetail(1)' (mouseleave)="showLabel(1)">
          <div *ngIf='shouldShowLabelFirst' class="project-label">
            BitChatter
          </div>
          <div *ngIf='shouldShowDetailsFirst' class="project-detail">
            <p>BitChatter is an online chatting application where you can login the application
              and talk publically, privately or even create a group</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="project-card" (mouseenter)='showDetail(2)' (mouseleave)="showLabel(2)">
          <div *ngIf='shouldShowLabelSecond' class="project-label">
            HubPort
          </div>
          <div *ngIf='shouldShowDetailsSecond' class="project-detail">
            <p>Hubport is a file sharing app just like shareit where user can share there file from one network to
              another via
              wired or wireless network. The whole project is built in python and Tkinter
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="project-card">
          <div class="project-label">
            <label>View More</label>
            <i class="pi pi-fw pi-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fourth-panel">
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <h1 class="display-1">
          Tranings and Certifications
        </h1>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="./assets/images/netcamp.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Netcamp Training</h5>
          <p class="card-text">Netcamp is one of the best training where i learn about basics of linuix commmand,
            permissions
            diffrent components and types of ip address, hosting servers like dns, dhcp, apache, smtp and many more.
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">View More</a>
          <a href="#" class="card-link">Visit Netcamp</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="./assets/images/adhoc.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cloud computing training with Adhoc networks</h5>
          <p class="card-text">
            This is one of the best training for cloud computing, devops, aws, big data and many more. Here i learned
            basics of
            cloud computing along with devops tool like docker and ansible.
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">View more</a>
          <a href="#" class="card-link">Visit Adhoc</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="./assets/images/docker.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Basic Docker Training</h5>
          <p class="card-text">In this training i learned about basics of docker how to start container, setup
            environment, and send files
            inside a container
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">View More</a>
          <a href="#" class="card-link">Visit Udemy</a>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="fifth-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1 class="display-1">
            Contact Me
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item">
        <a href='https://www.facebook.com/lal.rishav.3'><img src="assets/images/fb.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='https://twitter.com/lalrishav'><img src="assets/images/twitter.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='https://www.instagram.com/lalrishav/'><img src="assets/images/instagram.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='https://www.linkedin.com/in/lal-rishav-a06981b0'><img src="assets/images/linkedin.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='https://stackoverflow.com/users/6931790/lal-rishav'><img src="assets/images/stack.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href=''><img src="assets/images/medium.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='mailto:lalrishav@gmail.com'><img src="assets/images/gmail.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='mailto:lalrishav@outlook.com'><img src="assets/images/outlook.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='+917488595428'><img src="assets/images/phone.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href='+917488595428'><img src="assets/images/whatsapp.png" width="100px" height="100px" alt=""></a>
      </div>
      <div class="item">
        <a href=''><img src="assets/images/telegram.png" width="100px" height="100px" alt=""></a>
      </div>
  </div>
</div>

<div class="footer">
  Copyright @ 2020 . All rights reserved.
</div>