<!-- <div class="orange" style="background-image: url('assets/images/main.jpg');"></div>
<div class="green"></div> -->
<svg width="300" height="520" viewBox="0 0 300 520">
  <defs>
    <clipPath id="top">
      <path d="M0,0 L300,0 L300,160 L150,200 L0,160z" />
    </clipPath>
    <clipPath id="middle">
      <path d="M0,160 L150,200 L300,160 L300,320 L150,360 L0,320z" />
    </clipPath>
    <clipPath id="bottom">
      <path d="M0,320 L150,360 L300,320 L300,520 L0,520z" />
    </clipPath>
  </defs>
  <image clip-path="url(#top)" xlink:href="assets/images/main.jpg" height="200px" width="300px" />
  <image clip-path="url(#middle)" xlink:href="http://dummyimage.com/300x200/004445/fff" x="0" y="160" height="200px" width="300px" />
  <image clip-path="url(#bottom)" xlink:href="http://dummyimage.com/300x200/45000a/fff" x="0" y="320" height="200px" width="300px" />
</svg>
<!-- <p-menubar [model]="menuItems"></p-menubar>
<div style="background-image : url('assets/images/main.jpg');" class="first-panel">
  

  <div class="row">
    <div class="col-md-4 col-sm-12 left-panel">
      <div class="user-roles">
        <div class="item">
          <p-checkbox [@fadeInOut] name="groupname" value="val1" [(ngModel)]="selectedValues"
            label="Software Developer">
          </p-checkbox>
        </div>
        <div class="item">
          <p-checkbox [@fadeInOut] name="groupname" value="val2" [(ngModel)]="selectedValues" label="Youtuber">
          </p-checkbox>
        </div>
        <div class="item">
          <p-checkbox [@fadeInOut] name="groupname" value="val2" [(ngModel)]="selectedValues" label="Cricketer">
          </p-checkbox>
        </div>
        <div class="item">
          <p-checkbox [@fadeInOut] name="groupname" value="val2" [(ngModel)]="selectedValues" label="Traveler">
          </p-checkbox>
        </div>
      </div>
    </div>

    <div class="col-md-4 right-panel">
      <div class="user-actions">
        <div class="item">
          <button [@fadeInOut] pTooltip="Blog" tooltipPosition="top" tooltipEvent="hover" class="green"><span
              class="pi pi-fw pi-pencil"></span></button>
        </div>
        <div class="item">
          <button [@fadeInOut] pTooltip="Download Resume" tooltipPosition="top" tooltipEvent="hover" class="red"
            pButton><span class="pi pi-fw pi-download"></span></button>
        </div>
        <div class="item">
          <button [@fadeInOut] pTooltip="Contact Me" tooltipPosition="top" tooltipEvent="hover" class="blue"><span
              class="pi pi-fw pi-envelope"></span></button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div style="background-image : url('assets/images/me.jpg');" class="row second-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1 class="display-1">Who am I ?</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="content">
          Hello, My name is Lal Rishav. I am a 21 yr old Software Engineer, graduated from Birla Institute Of Technology Mesra.
          Currently i am employed at Infosys Ltd Hyderabad as a Specialist Programer. I am a devops enthusiast and have good knowledge of javascript, python, php, docker, aws, Java, Angular, MySQL, MongoDB and many more other cutting edge technologies. I am an enthusiast pc gamer and play games like Counter strinke, Overwatch and many other single and multiplayers, Apart from all these i also like physical games like cricket, badminton and table tennis. Well i dont have any art like singing, dancing, musical instrument but very much keen to learn guitar.
                        I have total for 1 years of exprience in my corporate life and worked on many projects like HubPort, BitChatter and many more. I have also 2+ years of freelancing and worked for companies like Cymatic India and more. If you want to hire me for any freelancing project you can contact me here.
        </div>
      </div>
    </div>
  </div>

  

</div>

<div style="background-image : url('assets/images/project4.jpg');" class="row third-panel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1 class="display-1">
            My Projects
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="project-card" (mouseenter)='showDetail()' (mouseleave)="showLabel()">
          <div *ngIf='shouldShowLabel' class="project-label">
            BitChatter
          </div>
          <div *ngIf='shouldShowDetails' class="project-detail">
            <p>BitChatter is an online chatting application where you can login the application
              and talk publically, privately or even create a group</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="project-label">
            HubPort
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-card">
          <div class="project-label">
            <label>View More</label>
            <i class="pi pi-fw pi-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->